<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie-edge" />
    <title>"nscreg"</title>
    <meta name="description" content="nscreg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/semantic.min.css" rel="stylesheet" />
    <link href="~/react-datepicker.min.css" rel="stylesheet" />
    <link href="~/antd-tree.css" rel="stylesheet" />
    <link href="~/react-select.min.css" rel="stylesheet" />
    <link href="~/styles.css" rel="stylesheet" />
	<link href="~/notifications.css" rel="stylesheet" />
    <base href="/"/>
	
</head>
<body>
    <div id="root"></div>
    <script>
      window.__initialStateFromServer = {
        userName: '@Html.Raw(ViewData["userName"])',
        dataAccessAttributes: '@Html.Raw(ViewData["dataAccessAttributes"])',
        systemFunctions: '@Html.Raw(ViewData["systemFunctions"])'.split(','),
        mandatoryFields: @Html.Raw(ViewData["mandatoryFields"]),
        locales: @Html.Raw(ViewData["locales"]),
        defaultLocale: '@Html.Raw(ViewData["defaultLocale"])',
        language1: '@Html.Raw(ViewData["language1"])',
        language2: '@Html.Raw(ViewData["language2"])',
        resources: @Html.Raw(ViewData["resources"]),
        roles: @Html.Raw(ViewData["roles"]),
        reportingSettings: @Html.Raw(ViewData["reportingSettings"]),
        sampleFramePredicateFieldMeta: @Html.Raw(ViewData["sampleFramePredicateFieldMeta"]),
        validationSettings: @Html.Raw(ViewData["validationSettings"]),
        analysisRules: @Html.Raw(ViewData["analysisRules"]),
      };
    </script>
    <script src="@ViewData["assets:main:js"]"></script>
</body>
</html>
