@model nscreg.Server.Common.Models.Account.LoginVm

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie-edge" />
    <title>Log In - nscreg</title>
    <meta name="description" content="nscreg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/semantic.min.css" rel="stylesheet" />"
    <link href="~/styles.css" rel="stylesheet" />"
</head>
<body>
<div class="parent-cont-login">
    <div class="child-cont-login">
        <h2 class="login-form-head">Enter NSC Registry</h2>
        <form method="post" class="ui form">
            @Html.AntiForgeryToken()
            <div class="field">
                <input name="login" value="@(Model?.Login ?? string.Empty)" placeholder="login"/>
            </div>
            <div class="field">
                <input name="password" type="password" value="@(Model?.Password ?? string.Empty)" placeholder="password"/>
            </div>
            <div class="field">
                <input id="rememberMe" name="rememberMe" value="@((Model?.RememberMe ?? false).ToString())" type="hidden"/>
                <label>
                    <input id="rememberMeToggle" type="checkbox" @((Model?.RememberMe ?? false) ? "checked" : string.Empty) onclick="handleRememberMeToggle()"/>
                    Remember
                </label>
            </div>
            <input name="redirectUrl" value="@ViewData["RedirectUrl"]" type="hidden"/>
            <input type="submit" value="log in" class="ui button middle fluid blue">
        </form>
        @if (!string.IsNullOrEmpty(Model?.Login) || !string.IsNullOrEmpty(Model?.Password))
        {
            <div class="ui negative message">
                <span>log in failed</span>
            </div>
        }
    </div>
</div>
<script>
  function handleRememberMeToggle() {
    document.getElementById('rememberMe').value = document.getElementById('rememberMeToggle').checked ? 'True' : 'False';
  }
</script>
</body>
</html>
